
<%= form_for(@prayer=Prayer.new) do |f| %>
 <div class="field">
    <%= f.text_area :pray, :class => "textarea" %>
        

<%=f.submit "Share Pray", :class => "btn btn-info btn-large"%>
    
 </div>
<div id="name">
<link rel="stylesheet" href="app/stileshets/reset.css" type="text/css"/>
<link rel="stylesheet" href="app/stileshets/style.css" type="text/css"/>

<%end%>
<div class="container">
<CENTER>
<div class="row-fluid">
<div class="span8">
<table class="span8">
  <tr>
    <th>Pray</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prayers.each do |prayer|%>
  <tr>
  	<td><%= image_tag(current_user.image) %></td>
    <td><%= prayer.pray %></td>
    <td><%= link_to 'Destroy', prayer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
</CENTER>
</div>
</div>
</div>
<center>
<br />	
<%= paginate @prayers%>

</center>
</div>