
<%= form_for(@prayer=Prayer.new) do |f| %>
 <div class="field">
    <%= f.text_area :pray, :class => "textarea" %>
        

<%=f.submit "Share Pray", :class => "btn btn-info btn-large"%>
    
 </div>
<div id="name">
<link rel="stylesheet" href="app/stileshets/reset.css" type="text/css"/>
<link rel="stylesheet" href="app/stileshets/style.css" type="text/css"/>

<%end%>
<div class="imput-append">
<pre>
   <% @prayers.each do |prayer|%>
    <div class="img"> <%= image_tag(current_user.image) %> Pray:<%= prayer.pray%></div>
    <div class="btn btn-danger"><%= link_to 'Destroy', prayer, :confirm => 'Are you sure?', :method => :delete %></div>
    <div style="color-background:#fff; heigth:1px; weigth:710:px;"></div>
<% end %>
</br>
</pre>
</div>
</br>
</div>
<center>
<br />	
<%= paginate @prayers%>
</center>
