<%= form_for(@prayer=Prayer.new) do |f| %>
 <div class="field">
    <%= f.text_area :pray, :class => "textarea"%>
 
 
<%=f.submit "Share Pray",:class => "btn btn-info btn-large" %>

<div id="name">

<link rel="stylesheet" href="app/stileshets/reset.css" type="text/css"/>
<link rel="stylesheet" href="app/stileshets/style.css" type="text/css"/>
<%end%>

<table style="width:600px border:solid">
  <tr style="width:60px border:solid">
   <h2><th>Prays</th></h2> 
    
  </tr>
<% @prayers.each do |prayer| %>
  <tr style="width:540px border:solid">
    <div style="width:540px margin:auto">
    <td><%= image_tag(prayer.image) %> </td>
    <td>Pray:<%= prayer.pray %><br>
    	     <PRE>  By:<%= prayer.name %> </PRE></td>
    </div>
  </tr>
  
<% end %>
</table>
</div>
</div>
<br />
<div>
<center><%= paginate @prayers%></center>
</div>
