<!DOCTYPE html>
<html>
<body>
<%= form_for(@prayer=Prayer.new) do |f| %>
 <div class="field">
 <center>
 <%= f.text_area :pray, :class => "textarea" %>
 </center>
 <%=f.submit "Oración", :class => "btn btn-info btn-large"%>

 </div>
 
<div id="name">

<link rel="stylesheet" href="app/stileshets/reset.css" type="text/css"/>
<link rel="stylesheet" href="app/stileshets/style.css" type="text/css"/>
<%end%>
<p>
<% @prayers.each do |prayer| %>    
	    <div class="img"> <%= image_tag(prayer.image) %> Pray:<%= prayer.pray %></div>	    	     
       <pre> By:<%= prayer.name %></pre>
<% end %>
</p>
<br />

</div>
<center><%= paginate @prayers%></center>
</body>
<footer id="footer">
<center><h3><%= link_to "www.friendprayer.org", "https://friendprayer.org" %>||<a data-toggle="modal" href="#modalite"><i>Políticas de uso del sitio</i></a></center></h3>
</footer>
</html>