<%= form_for(@prayer=Prayer.new) do |f| %>
 <div class="field">
    <%= f.text_area :pray, :class => "textarea"%>
 
 
<%=f.submit "Share Pray",:class => "btn btn-info btn-large" %>
</div>
<div id="name">

<link rel="stylesheet" href="app/stileshets/reset.css" type="text/css"/>
<link rel="stylesheet" href="app/stileshets/style.css" type="text/css"/>
<%end%>
<% @prayers.each do |prayer| %>
<div class="thumb-wrap">
   <div style="clear: both">	     
        <pre class="pray">
	    <div class="img"> <%= image_tag(prayer.image) %> Pray:<%= prayer.pray %><br></div>	    	     
        </pre>
        <pre>By:<%= prayer.name %> </pre>
    </div>
</div>
<% end %>
<br />
<center><%= paginate @prayers%></center>
</div>
