<!DOCTYPE html>

<html>
<head>
  <title>FriendPrayer</title>
  <link rel="stylesheet" href="app/stileshets/reset.css" type="text/css" />
  <link rel="stylesheet" href="app/stileshets/style.css" type="text/css" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "boostrap-modal" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35681116-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<div class="alert alert-block"><%= notice %>
</div>
</div>
<div id="container2">
<div id="header">
<div id="logo"><h1>Friend Prayer</h1> <a href=""><%=link_to image_tag("logo.png")  %></a></div>
<div id="slogan"><h2>Now you can easily share prayers with your friends all over the world!</h2><a href=""><%=link_to image_tag("slogan.png")%></a></div>
</div>
<div id="navs">
    <%= render :partial => "shared/principal_menu"%>
  <div id="user_nav">
  <% if current_user %>

    <h2> Welcome: <%= current_user.name %>! 
   	<div class=" btn btn-info">
   	<div id="friends">
     <p><%= link_to "Invite ++", "#", :id => "invite_fb_friends"  %></p>
                     
     <div id="fb-root"></div>
     <%= render :partial => "shared/invite_friends"%>
    </div>
   </h2>
  <% else %>
   	<div class="pull-right">
   <div class="btn btn-success" data-toggle="modal" href="#myModal">Ayuda?</div>
   </div>
 
  <% end %>
 
</br>


<body>
	
<%= yield %>

</div>

</body>
</html>
   <%= render :partial => "shared/modals_layout"%>
 </div>