<!DOCTYPE html>

<html>
<head>
  <title>FriendPrayer</title>
  <link rel="stylesheet" href="app/stileshets/reset.css" type="text/css" />
  <link rel="stylesheet" href="app/stileshets/style.css" type="text/css" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/favicon.ico" %>

</head>
<div class="alert alert-info"><%= notice %>
</div>
</div>
<div id="container2">
<div id="header">
<div id="logo"><h1>Friend Prayer</h1> <a href=""><%=link_to image_tag("logo.png")  %></a></div>
<div id="slogan"><h2>Now you can easily share prayers with your friends all over the world!</h2><a href=""><%=link_to image_tag("slogan.png")%></a></div>
</div>
<div id="navs">
<ul class="nav nav-tabs">
<li id="prayers" ><a href="prayers">Prayers</a></li>
<li id="worldwide"><a href="worldwide">Worldwide</a></li>
<!--<li id="settings"><a href="worldwide" class="activeprayers">Worldwide</a></li>-->
<li id="donate"><a href="donate">Donate</a></li>
</ul></br>
</br>
<div id="fb-root"></div>
<div class="fb-like" data-href="http://severe-flower-1979.herokuapp.com/" data-send="false" data-width="450" data-show-faces="false" data-action="recommend" data-font="verdana"></div>
<meta property="og:title" content="Friend Prayer" />
<meta property="og:type" content="blog" />
<meta property="og:url" content="http://severe-flower-1979.herokuapp.com/" />
<meta property="og:image" content="http://severe-flower-1979.herokuapp.com/assets/logo-a012c0985dc6e1462f700ae11305e076.png" />
<meta property="og:site_name" content="friend prayer" />
<meta property="fb:admins" content="581307214" />
<div id="user_nav">
  <% if current_user %>

   <h2> Welcome: <%= current_user.name %>! 
	<div btn class=" btn btn-danger"> 
	<%= link_to "Salir", "/signout" %>   
	</div>     
   	<div class=" btn btn-info">
   	<div id="friends">
     <p><%= link_to "Invite Friends", "#", :id => "invite_fb_friends"  %></p>
                     
     <div id="fb-root"></div>

     <script src="http://connect.facebook.net/en_US/all.js"></script>

     <script>
       $(function(){

         $("a#invite_fb_friends").click(function() {
           FB.init({ 
              appId:'236652113026256', 
              cookie:false, 
              status:true
           });

           FB.ui({ method: 'apprequests', message: ' <%= current_user.name %> Escribe tus oraciones y recibe las de tus amigos !!'});
         });
       });
     </script>
    
   </div>
   </h2>
  <% else %>
   <!--<div btn class=" btn btn-success"> 
   <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    
  </div>-->

 
  <% end %>
 
</br>


<body>
	

<%= yield %>

</div>
</body>
<footer>
	Creado por @Sir_alfredot
</footer>
</html>
